html, body {
  height: 100%;
  width: 100%;  
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color:#ffffff;
}

.hero-nav {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1.0px;
  border-color: #e4e4e4;
  font-size: 38px;
  color: #00378a;
}

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
  gap: 70px;
  transform: translateY(70px);
  color:#3D3D3D;
  width: 100%;
}

.hero-section h1 {
  max-width: 700px;
  margin-bottom: 30px;
  font-size: 55px;
  font-weight:700;
}

.hero-section button {
  font-family: 'Open Sans', sans-serif;
  background-color:#0b4499;
  color: white;
  margin-right: 10px;
  margin-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.hero-section button:hover {
  background-color: rgb(238, 185, 10);
  color: #0b4499;
  transform: scale(1.05); 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.hero-section-button:last-child {
  margin-right: 0;
}

.username-input {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  width: 310px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 15px;
  padding-right: 30px;
  margin-bottom: 25px;
  border: none;
  border-radius: 10px;
  background: rgba(233, 237, 243, 0.65);
}

.username-input::placeholder {
  text-align: left;
  font-size: 14px;
}

.hero-section p {
  font-family: 'Work Sans', sans-serif;
  color:#3D3D3D;
  font-size: 21px;
  font-style: italic;
  font-weight: 400;
}

.hero-pet {
  max-width: 550px;
  border: solid 0.5px;
  border-radius: 15px;
  border-color: rgb(238, 238, 238);
  box-shadow: 0 0 5px rgba(0, 89, 255, 0.253) inset;
  animation: slideFromRight 1s ease forwards; 
  opacity: 0; 
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%); 
    opacity: 0;
  }
  to {
    transform: translateX(0); 
    opacity: 1;
  }
}

.left-section {
  max-width: 800px;
  animation: slideFromLeft 1s ease forwards; /* Animation duration and timing */
  opacity: 0; /* Start with element hidden */
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%); /* Start position outside the viewport on the left */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* End position, slide to the right */
    opacity: 1;
  }
}

.hero-footer {
  display: flex;
  justify-content: center;
  align-items:center;
  color: #F5F5F5;
  margin: 0;
}

/* CSS for ChatPage from this point on */

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3D3D3D;
  border-bottom: 1px solid #cecbcb;
  padding-top: px;
  padding-bottom: px;
  flex-wrap: wrap;
}

.top-content h4 {
  font-size: 32px;
  font-weight: 700;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 120px;
  margin-right: 0px;
}

.top-content button {
  width: 163px;
  height: 50px;
  background-color: #0B4499;
  font-size: 12px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
  transition: transform 0.2s, box-shadow 0.2s;
}

.top-content button:hover {
  transform: scale(1); /* Slightly scales the button */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* More pronounced drop shadow */
}

.nav-whole {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  gap: 40px;
  padding-left: 0;
  
}

.top-content ul {
  display:flex;
  flex-direction:row;
  list-style-type: none; 
}

.profile-pic-name {
  margin-left: 80px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 600;
}

.profile-img {
  width: 42px;
  height: 42px;
  margin-right: 120px;
  border-radius: 50%;
  cursor: pointer;
}

.chat-wrapper {
  background-color: #777777;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.wrapper-content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}