html, body {
  height: 100%;
  width: 100%;  
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color:#ffffff;
}

.hero-nav {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1.0px;
  border-color: #e4e4e4;
  font-size: 38px;
  color: #00378a;
}

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
  gap: 70px;
  transform: translateY(70px);
  color:#3D3D3D;
  width: 100%;
}

.hero-section h1 {
  max-width: 700px;
  margin-bottom: 30px;
  font-size: 55px;
  font-weight:700;
}

.hero-section button {
  font-family: 'Open Sans', sans-serif;
  background-color:#0b4499;
  color: white;
  margin-right: 10px;
  margin-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.hero-section button:hover {
  background-color: rgb(238, 185, 10);
  color: #0b4499;
  transform: scale(1.05); 
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.hero-section-button:last-child {
  margin-right: 0;
}

.username-input {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  width: 310px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 15px;
  padding-right: 30px;
  margin-bottom: 25px;
  border: none;
  border-radius: 10px;
  background: rgba(233, 237, 243, 0.65);
}

.username-input::placeholder {
  text-align: left;
  font-size:medium
}

.hero-section p {
  font-family: 'Work Sans', sans-serif;
  color:#3D3D3D;
  font-size: 21px;
  font-style: italic;
  font-weight: 400;
}

.hero-pet {
  max-width: 550px;
  border: solid 0.5px;
  border-radius: 10px;
  border-color: rgb(238, 238, 238);
  box-shadow: 0 0 5px rgba(0, 89, 255, 0.253) inset;
  animation: slideFromRight 1s ease forwards; 
  opacity: 0; 
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%); 
    opacity: 0;
  }
  to {
    transform: translateX(0); 
    opacity: 1;
  }
}

.left-section {
  max-width: 800px;
  animation: slideFromLeft 1s ease forwards; /* Animation duration and timing */
  opacity: 0; /* Start with element hidden */
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%); /* Start position outside the viewport on the left */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* End position, slide to the right */
    opacity: 1;
  }
}

.hero-footer {
  display: flex;
  justify-content: center;
  align-items:center;
  color: #F5F5F5;
  margin: 0;
}


